@import "tailwindcss";

:root {
  --color-golden: #dcca87;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-white: #ffffff;
  --color-grey: #AAAAAA;
}

@theme inline {
  --color-golden: var(--color-golden);
  --color-black: var(--color-black);
  --color-gray: var(--color-gray);
  --color-crimson: var(--color-crimson);
  --color-white: var(--color-white);
  --font-base: var(--font-cormorant-upright), sans-serif;
  --font-alt: var(--font-open-sans);
  --color-grey: var(--color-grey);
}

@utility paddingX {
  @apply px-10 md:px-16 lg:px-24
}

@utility paddingY {
  @apply py-10 md:py-16 lg:py-24
}

@utility h2_title {
  @apply text-golden text-6xl font-base tracking-wider
}




